/* .classname {
    property:value;  Classes are reusable styles that can be added to HTML elements.
    Remember that you can apply multiple classes to an element using its class attribute, by separating each class name with a space.
    class="class1 class2"

} */
.Brown{
    color:brown;
    font-family:monospace;
}

/* CSS selector{
    property:value;
} */

h2 {
    color:blueviolet;
    
    font-size:30px; /*Font size is controlled by the font-size CSS property, like this:*/
    
    font-family:Lobster monospace; 
    /* You can set which font an element should use, by using the font-family property. */
    /*When one font isn't available, you can tell the browser to "degrade" to another font.
    font-family:Helvetica sands-serif;*/
}

/*Import Google fonts*/
/* To import a Google Font, you can copy the font's URL from the Google Fonts library and then paste it in your HTML. 
we'll import the Lobster font. To do this write the following in html.(before the opening style element): */
/* <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">  Now we can use Lobster*/

img {
    position:relative;
    left:1100px;
    top:80px;
    width: 400px;/* CSS has a property called width that controls an element's width. Just like with fonts, we'll use px (pixels) to specify the image's width. */
    border-color:black;
    border-width: 5px;
    border-style:solid;
    border-radius:50%;

}


/* Borders
 CSS borders have properties like style, color and width 
 Your photo currently has sharp corners. We can round out those corners with a CSS property called border-radius.
 In addition to pixels, you can also specify the border-radius using a percentage.
 50% border-radius == circle;
*/

div {
    background-color: rgb(247, 212, 219);
    font-size:19px;
}

/* addition to classes, each HTML element can also have an id attribute.
You can use an id to style a single element
id attributes should be unique
->One cool thing about id attributes is that, like classes, you can style them using CSS.
 ID > Class if both are applied to same element.
*/

#Formstyle{
    font-size:20px;
}

