header {
    height:5%;
    width:100%;
    background-color:hsl(0,0%,80%);
    opacity: revert;
    position:fixed;
    margin:-8px;

}
nav li {
    display:inline;
}
li {
    color:black;
    padding:12px 0px 0px 30px;
}

ul{
    margin-left:50px;
}
a{
    color:black;
    text-decoration:none;
    font-size:20px;
    font-family:FreeSans;
}
a:hover{
    font-weight:600;
    text-decoration:underline;
    text-decoration-color: orange;
}
.Title{
    font-family: FreeSans;
    display:block;
    position:relative;
    top:150px;
    z-index: 2;

}
img {
    width:500px;
    diplay:inline-block;
    border-radius:50%;
    border-color:orange;
    border-style:inset;
    border-width: 10px;
    position:absolute;
    left:1100px;

}

h1{
    font-size:80px;
    padding:40px 0px 40px 80px;
}
span{
    font-family: monospace;
    font-weight:200;
    font-size:40px;
    color:hsl(0,10%,40%);
    line-height: 30px;
}
footer{
    text-align:center;
    margin-top:720px;
    font-size:20px;
}
hr{
 border-top:2px solid orange;}
